<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/noctambulo-12/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="noctambulo-12" />
      <add key="ClearTextPassword" value="Token-Github" />
    </github>
  </packageSourceCredentials>
</configuration>